@model EntityFramewrokDemo_InCore.Models.Course
@{
    ViewData["Title"] = "Create";
}

@*HtmlActionMethods*@

<h1>Create</h1>

<form method="post">
    <label for="id"> Enter ID </label>
    <input type="number" id="id"  name="txtId"/> <br />
    <label for="name"> Enter Course Name </label>
    <input type="text" id="name" name="txtName" /> <br />
    <label for="duration"> Enter Course Duration </label>
    <input type="number" id="duration" name="txtDuration" /> <br />
    <label for="description"> Enter Course description </label>
    <input type="text" id="description" name="txtDescription" /> <br />
    <input type="submit" value="Submit"/>
</form>

